{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="/entries/{{ entry.entry_id }}/update" method="POST" class="edit-entry">
  <div class="edit-title">
    <label for="title">Title:</label><br>
    <input type="text" size="30" name="title" value="{{ entry.title }}">
  </div>

  <div class="edit-text">
    <label for="text">Text:</label><br>
    <textarea name="text" rows=5 cols=40>{{ entry.text|safe }}</textarea>
  </div>
  <input type="submit" value="Submit">
</form>
{% endif %}

<a href="{{ url_for('show_entries') }}">Go back</a>
{% endblock %}

